
form#main-form.container(data-hit-id="#{amt_hit.hitId}" data-turkSubmitTo="#{amt_hit.turkSubmitTo}" data-task-id="#{amt_hit.task_id}")
    input(type="hidden" name="assignmentId" value="#{amt_hit.assignmentId}")
    input(type="hidden" name="workerId" value="#{amt_hit.worker_id}")
    input(type="hidden" name="meta-data")
    input(type="hidden" name="all-result")
    input(type="hidden" name="unique_code" value="")
    input#checkout.btn.btn-success.pull-right(type="button", value="Submit")